@import "tailwindcss";

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  background: rgb(255, 255, 255);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


